
.custom-color-main{
    background-color: #007bac;
}
.custom-text-color-main{
    color: #007bac;
}

.rounded-corners{
    border-radius : 15px;
}

.custom-input{
    margin-top: 10px !important;
}

.custom-label{
    font-weight: bold;
    color: white !important;
    font-size: 20px !important;
}

.bold-text{
    font-weight: bold;
}

.shopping-list-action-row{
    margin-bottom: 0px;
    font-size: 10px;
}

.shopping-list-action{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.shopping-list-card-content{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.shopping-list-card-content-row{
    margin-bottom: 0px !important;
}

.shopping_list_done{
    text-decoration: line-through;
}

.shopping-list-item-text {
    word-break: break-all;
    word-break: break-word;
    display: block;
}
